{
  "openapi": "3.1.0",
  "info": {
    "title": "Vex API",
    "version": "1.0.0",
    "description": "The Vex REST API provides synchronous verification and asynchronous batch ingestion for AI agent executions. Use the `/v1/verify` endpoint to receive real-time pass/flag/block decisions, and `/v1/ingest/batch` to stream execution telemetry for observability."
  },
  "servers": [
    {
      "url": "https://api.tryvex.dev"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Vex-Key",
        "description": "Your Vex API key. Obtain one from the Vex Dashboard under Settings → API Keys."
      }
    },
    "schemas": {
      "StepRecord": {
        "type": "object",
        "description": "A single step taken by the agent during an execution (e.g. a tool call, retrieval, or LLM call).",
        "properties": {
          "step_type": {
            "type": "string",
            "description": "The category of step, such as `tool_call`, `llm_call`, or `retrieval`.",
            "example": "tool_call"
          },
          "name": {
            "type": "string",
            "description": "Identifier or name of the step (e.g. the tool name).",
            "example": "search_web"
          },
          "input": {
            "description": "Input passed to this step. Can be any JSON value.",
            "example": {"query": "latest AI research papers"}
          },
          "output": {
            "description": "Output produced by this step. Can be any JSON value.",
            "example": {"results": ["paper1", "paper2"]}
          },
          "duration_ms": {
            "type": "number",
            "description": "Wall-clock duration of the step in milliseconds.",
            "example": 320
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when this step occurred.",
            "example": "2024-11-15T10:30:01.500Z"
          }
        },
        "required": ["step_type", "name"]
      },
      "ConversationTurn": {
        "type": "object",
        "description": "A single turn in a multi-turn conversation history.",
        "properties": {
          "sequence_number": {
            "type": "integer",
            "description": "Ordinal position of this turn in the conversation, starting from 1.",
            "example": 1
          },
          "input": {
            "description": "User or caller input for this turn.",
            "example": "What is the capital of France?"
          },
          "output": {
            "description": "Agent output for this turn.",
            "example": "The capital of France is Paris."
          },
          "task": {
            "type": "string",
            "description": "Optional task description for this specific turn.",
            "example": "Answer geography question"
          }
        },
        "required": ["sequence_number"]
      },
      "ThresholdConfig": {
        "type": "object",
        "description": "Score thresholds that govern the pass/flag/block decision for a verification.",
        "properties": {
          "pass_threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Minimum confidence score required to pass the execution. Executions scoring at or above this value receive an `action` of `pass`.",
            "example": 0.8
          },
          "flag_threshold": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Minimum confidence score required to flag (rather than block) the execution. Executions scoring between `flag_threshold` and `pass_threshold` receive an `action` of `flag`.",
            "example": 0.5
          }
        }
      },
      "ExecutionEvent": {
        "type": "object",
        "description": "The core payload representing a single agent execution to be verified or ingested.",
        "required": ["agent_id"],
        "properties": {
          "execution_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this execution. If omitted, Vex will generate one.",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "agent_id": {
            "type": "string",
            "description": "Identifier for the agent that produced this execution. Required.",
            "example": "my-research-agent"
          },
          "session_id": {
            "type": "string",
            "description": "Optional session identifier for grouping related executions.",
            "example": "session-abc-123"
          },
          "parent_execution_id": {
            "type": "string",
            "description": "Execution ID of a parent execution, used when this execution is a child in a multi-agent or hierarchical workflow.",
            "example": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"
          },
          "sequence_number": {
            "type": "integer",
            "description": "Ordinal position of this execution within a session, starting from 1.",
            "example": 3
          },
          "task": {
            "type": "string",
            "description": "High-level description of the task the agent was asked to perform.",
            "example": "Summarize the latest earnings report for ACME Corp."
          },
          "input": {
            "description": "The input provided to the agent for this execution. Can be any JSON value (string, object, array, etc.).",
            "example": "Summarize the latest earnings report for ACME Corp."
          },
          "output": {
            "description": "The output produced by the agent for this execution. Can be any JSON value.",
            "example": "ACME Corp reported revenue of $1.2B in Q3 2024, up 12% year-over-year..."
          },
          "steps": {
            "type": "array",
            "description": "Ordered list of intermediate steps taken by the agent during this execution.",
            "items": {
              "$ref": "#/components/schemas/StepRecord"
            }
          },
          "token_count": {
            "type": "integer",
            "description": "Total number of tokens consumed by the agent during this execution.",
            "example": 1847
          },
          "cost_estimate": {
            "type": "number",
            "description": "Estimated cost of the execution in USD.",
            "example": 0.0037
          },
          "latency_ms": {
            "type": "number",
            "description": "Total wall-clock latency of the execution in milliseconds.",
            "example": 4200
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the execution occurred.",
            "example": "2024-11-15T10:30:00.000Z"
          },
          "ground_truth": {
            "description": "Optional known-correct answer or reference output, used for hallucination and accuracy checks.",
            "example": "ACME Corp Q3 2024 revenue was $1.2B."
          },
          "schema_definition": {
            "type": "object",
            "description": "Optional JSON Schema object describing the expected structure of the output. Used by the schema conformance check.",
            "example": {
              "type": "object",
              "properties": {
                "revenue": {"type": "number"},
                "growth_pct": {"type": "number"}
              },
              "required": ["revenue"]
            }
          },
          "conversation_history": {
            "type": "array",
            "description": "Prior turns in a multi-turn conversation, used for context in verification checks.",
            "items": {
              "$ref": "#/components/schemas/ConversationTurn"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Control knobs that influence verification behavior.",
            "properties": {
              "thresholds": {
                "$ref": "#/components/schemas/ThresholdConfig"
              },
              "correction": {
                "type": "string",
                "enum": ["cascade", "auto", "none"],
                "description": "Correction mode. `cascade` attempts multiple correction strategies in sequence. `auto` selects a strategy automatically. `none` disables correction.",
                "example": "cascade"
              },
              "transparency": {
                "type": "string",
                "enum": ["transparent", "opaque"],
                "description": "Controls whether the original output is included in the response when correction occurs. `transparent` includes both original and corrected output; `opaque` returns only the corrected output.",
                "example": "transparent"
              }
            }
          }
        }
      },
      "VexResult": {
        "type": "object",
        "description": "The verification result returned by `POST /v1/verify`.",
        "properties": {
          "execution_id": {
            "type": "string",
            "format": "uuid",
            "description": "The execution ID, echoed from the request or generated by Vex if not provided.",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Aggregate confidence score across all checks, from 0.0 (lowest) to 1.0 (highest).",
            "example": 0.85
          },
          "action": {
            "type": "string",
            "enum": ["pass", "flag", "block"],
            "description": "The verification decision. `pass` means the output is acceptable. `flag` means the output is suspicious and should be reviewed. `block` means the output should not be used.",
            "example": "pass"
          },
          "output": {
            "description": "The final output, which may be the original or a corrected version depending on verification results and correction mode.",
            "example": "ACME Corp reported revenue of $1.2B in Q3 2024, up 12% year-over-year..."
          },
          "checks": {
            "type": "object",
            "description": "Per-check results keyed by check name (e.g. `schema`, `hallucination`, `toxicity`). Each value contains at minimum a `pass` boolean and a `score` number.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "pass": {
                  "type": "boolean",
                  "description": "Whether this individual check passed."
                },
                "score": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1,
                  "description": "Confidence score for this check."
                }
              }
            },
            "example": {
              "schema": {"pass": true, "score": 0.95},
              "hallucination": {"pass": true, "score": 0.88},
              "toxicity": {"pass": true, "score": 0.99}
            }
          },
          "corrected": {
            "type": "boolean",
            "description": "Whether the output was modified by the correction system.",
            "example": false
          },
          "original_output": {
            "description": "The original, pre-correction output. Only present when `corrected` is `true` and `metadata.transparency` is `transparent`.",
            "example": null,
            "nullable": true
          },
          "correction_attempts": {
            "type": "integer",
            "description": "Number of correction attempts made before a satisfactory output was produced. Only present when `corrected` is `true`.",
            "example": null,
            "nullable": true
          }
        }
      },
      "BatchIngestRequest": {
        "type": "object",
        "description": "Request body for `POST /v1/ingest/batch`.",
        "required": ["events"],
        "properties": {
          "events": {
            "type": "array",
            "description": "List of execution events to ingest. Must contain at least one event.",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ExecutionEvent"
            }
          }
        }
      },
      "BatchIngestResponse": {
        "type": "object",
        "description": "Response body for `POST /v1/ingest/batch`.",
        "properties": {
          "accepted": {
            "type": "integer",
            "description": "Number of events accepted for asynchronous processing.",
            "example": 5
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response body returned for 4xx and 5xx responses.",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code.",
            "example": "invalid_request"
          },
          "message": {
            "type": "string",
            "description": "Human-readable description of the error.",
            "example": "Field 'agent_id' is required."
          }
        }
      }
    }
  },
  "paths": {
    "/v1/verify": {
      "post": {
        "operationId": "verifyExecution",
        "summary": "Verify Execution",
        "description": "Synchronously verify a single agent execution. Vex runs the configured checks (schema conformance, hallucination detection, toxicity, etc.), computes a confidence score, applies the pass/flag/block thresholds, and optionally corrects the output before returning.\n\nThis endpoint blocks until verification is complete, making it suitable for inline use — i.e. calling it before returning the agent's output to the end user.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "description": "The execution event to verify.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionEvent"
              },
              "example": {
                "agent_id": "my-research-agent",
                "session_id": "session-abc-123",
                "task": "Summarize the latest earnings report for ACME Corp.",
                "input": "Summarize the latest earnings report for ACME Corp.",
                "output": "ACME Corp reported revenue of $1.2B in Q3 2024, up 12% year-over-year.",
                "timestamp": "2024-11-15T10:30:00.000Z",
                "metadata": {
                  "thresholds": {
                    "pass_threshold": 0.8,
                    "flag_threshold": 0.5
                  },
                  "correction": "cascade",
                  "transparency": "transparent"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed. Inspect `action` to determine whether to pass, flag, or block the output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VexResult"
                },
                "example": {
                  "execution_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "confidence": 0.85,
                  "action": "pass",
                  "output": "ACME Corp reported revenue of $1.2B in Q3 2024, up 12% year-over-year.",
                  "checks": {
                    "schema": {"pass": true, "score": 0.95},
                    "hallucination": {"pass": true, "score": 0.88},
                    "toxicity": {"pass": true, "score": 0.99}
                  },
                  "corrected": false,
                  "original_output": null,
                  "correction_attempts": null
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body is malformed or missing required fields such as `agent_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "invalid_request",
                  "message": "Field 'agent_id' is required."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The `X-Vex-Key` header is missing, malformed, or contains an invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid or missing API key."
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The per-key rate limit has been exceeded. Wait for the number of seconds indicated in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Rate limit exceeded. Retry after 10 seconds."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected error occurred on the Vex side. Safe to retry with exponential backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "internal_error",
                  "message": "An unexpected error occurred. Please try again."
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/batch": {
      "post": {
        "operationId": "ingestBatch",
        "summary": "Ingest Batch",
        "description": "Asynchronously ingest a batch of execution events for observability, monitoring, and analysis. Events are accepted and queued for processing — this endpoint does not block on verification and does not return per-event results.\n\nUse this endpoint when you want to capture telemetry without adding latency to your agent's critical path. The response indicates how many events were accepted.",
        "tags": ["Ingestion"],
        "requestBody": {
          "required": true,
          "description": "Batch of execution events to ingest.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchIngestRequest"
              },
              "example": {
                "events": [
                  {
                    "agent_id": "my-research-agent",
                    "session_id": "session-abc-123",
                    "task": "Summarize earnings report",
                    "input": "Summarize the Q3 earnings report.",
                    "output": "Q3 revenue was $1.2B.",
                    "timestamp": "2024-11-15T10:30:00.000Z"
                  },
                  {
                    "agent_id": "my-research-agent",
                    "session_id": "session-abc-123",
                    "task": "Compare to prior quarter",
                    "input": "How does this compare to Q2?",
                    "output": "Revenue grew 12% from Q2's $1.07B.",
                    "timestamp": "2024-11-15T10:31:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIngestResponse"
                },
                "example": {
                  "accepted": 2
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body is malformed, `events` is missing or empty, or one or more events are missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "invalid_request",
                  "message": "Field 'events' must be a non-empty array."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The `X-Vex-Key` header is missing, malformed, or contains an invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Invalid or missing API key."
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The per-key rate limit has been exceeded. Wait for the number of seconds indicated in the `Retry-After` header before retrying.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Rate limit exceeded. Retry after 10 seconds."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected error occurred on the Vex side. Safe to retry with exponential backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "internal_error",
                  "message": "An unexpected error occurred. Please try again."
                }
              }
            }
          }
        }
      }
    }
  }
}
